<!DOCTYPE html>
<html>

<head>
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="../css/materialize.min.css" media="screen,projection" />
    <link rel="stylesheet" href="../css/style.css">
    <meta charset="UTF-8">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Consejo</title>
</head>

<body>
    <nav>
        <div class="nav-wrapper orange">
            <a href="#e65100" class="brand-logo center">EDUFIN  </a>
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="sass.html">Perfil</a></li>
                <li><a href="badges.html">Medallas y puntos </a></li>
                <li><a href="collapsible.html">Modulos</a></li>
            </ul>
        </div>
    </nav>
    <main>
        <h1 align="center"> ¡CONSEJO! </h1>
        <div class="row">
            <p class="flow-text"> Evita el gasto hormiga, ya que con ello podras tener mayor margen de maniobra</p>
        </div>
        <div class="container">
            <img class="responsive-img" src="../assets/ahorro2.jpg" align="middle" style="text-align:center;">
        </div>
    </main>
    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="../js/materialize.min.js"></script>
    <script type="application/x-javascript" src="../js/app.js"></script>
</body>

</html>
