<!DOCTYPE html>
<html>

<head>
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="../css/materialize.min.css" media="screen,projection" />
     <link rel="stylesheet" href="../css/style.css">
    <meta charset="UTF-8">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>EDUfin</title>
</head>

<body>
   <nav>
    <div class="nav-wrapper orange">
      <a href="#" class="brand-logo">EDUFIN</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="#">Perfil</a></li>
        <li><a href="#">Medallas y Puntos</a></li>
        <li><a href="modulos.html">Modulos</a></li>
      </ul>
    </div>
  </nav>
   <main class="container">
      <a href="consejos.html"><i class="material-icons right medium">input</i></a>
       <div class="row center modulos">
           <div class="col s6">
               <a href="planeacion.html"><img class="responsive-img circle" src="../assets/Planificacion.jpg" alt=""></a>
               <h2 class="flow-text">Planeación Financiera</h2>
           </div>
           <div class="col s6">
               <a href="servicios.html"><img class="responsive-img circle" src="../assets/servicios.jpg" alt=""></a>
               <h2 class="flow-text">Servicios financieros</h2>
           </div>
       </div>
       <div class="row center modulos">
           <div class="col s6">
               <img class="responsive-img circle"  src="../assets/administrcion.jpg" alt="">
               <h2 class="flow-text">Administración del credito</h2>
           </div>
           <div class="col s6">
               <img class="responsive-img circle"  src="../assets/ahorro.jpg" alt="">
               <h2 class="flow-text">Cultura del Ahorro</h2>
           </div>
       </div>
       <div class="row"></div>
   </main>
    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="../js/materialize.min.js"></script>
    <script type="application/x-javascript" src="../js/app.js" ></script>
</body>

</html>