<!DOCTYPE html>
<html>

<head>
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="../css/materialize.min.css" media="screen,projection" />
    <link rel="stylesheet" href="../css/style.css">
    <meta charset="UTF-8">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>EDUfin</title>
</head>

<body>
    <main>
        <div>
            <img class="responsive-img" src="../assets/edufin-circulo.jpg" align="middle">
        </div>
        <div class="container">
            <form>
                <div class="row">
                    <div class="input-field col s6">
                        <input id="first_name" type="text" class="validate">
                        <label for="first_name">Nombre</label>
                    </div>
                    <div class="input-field col s6">
                        <input id="last_name" type="text" class="validate">
                        <label for="last_name">Apellido</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="email" type="email" class="validate">
                        <label for="email">Email</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="password" type="password" class="validate">
                        <label for="password">Password</label>
                    </div>
                </div>
                <div class="row">
                    <input type="date" class="datepicker">
                    <label for="date">Fecha De nacimiento</label>
                </div>


                <div class="row">
                    <div class="input-field col s6">
                        <p>
                            <input name="group1" type="radio" id="test1" />
                            <label for="test1">Mujer</label>
                        </p>
                    </div>
                    <div class="input-field col s6">
                        <p>
                            <input name="group1" type="radio" id="test1" />
                            <label for="test1">Hombre</label>
                        </p>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s6">
                        <a class="waves-effect waves-light btn-large orange" href="../views/modulos.html">Crear cuenta</a>
                    </div>
                </div>


            </form>
        </div>









    </main>
    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="../js/materialize.min.js"></script>
    <script type="application/x-javascript" src="../js/app.js"></script>
</body>

</html>
